# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Diogo\Desktop\Engenharia de Software\Programação orientada a objeto - POO\MyFlightPOO_2020-2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
